<div class="col-lg-12 detail-separator">
  <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'store:search' %}" method="get" accept-charset="utf-8">
    <!-- dans action, on indique la page qui se chargera de traiter les inf au moment de la validation du formulaire-->
    <div class="form-group">
      <label for="searchForm">Chercher un disque</label>
      <input id="searchForm" class="form-control" name="query">
      <!-- query est défini dans views.py à partir de la chaine de caractère 'query'(query = request.GET.get('query'))
      c'est la valeur de name qui sert à générer le morceau d'url ('query')qu'on utilisera dans views-->
    </div>
    <span class="help-block" id="helpBlock">Trouvez le CD de vos rêves en tapant son titre ou le nom d'un des artistes.</span>
  </form>
</div>